@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.form-signin {
    max-width: 420px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.btn {
    background-color: #17C2A6;
    color: white;
    font-weight: 500;
}

.btn:hover {
    background-color: #13a088;
    color: white;
}

.form-check-input:checked {
    background-color: #17C2A6;
}